{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://unpkg.com/wanakana"></script>
    <script src="https://cdn.jsdelivr.net/npm/diff@5.0.0/dist/diff.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-white">
  <div class="max-w-3xl mx-auto px-4 py-8">
    <!-- Navbar with link to profile showing the user's name -->
    <nav class="mb-8 flex justify-end">
      {% if user.is_authenticated %}
      Logged in as&nbsp;<a href="{% url 'profile' %}" class="text-blue-600 hover:underline">{{ user.username }}</a>
      {% else %}
      <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Login</a>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
      <hr class="my-8">
      <p class="text-center text-gray-500 text-sm">&copy; 2025 Patrick Canfield. All rights reserved.</p>
      <a href="/privacy" class="text-center text-gray-500 text-sm hover:underline block mb-4">Privacy Policy</a>
      <a href="/terms" class="text-center text-gray-500 text-sm hover:underline block">Terms of Service</a>
    </footer>
  </div>
</body>
</html>
